body
{
	margin:0px;
	margin-top:-22px;
	padding:0;
	background-color:#181818;
}

.liste
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#f6f6f6	;
}

#conteneur
{
	max-width:850px;
	min-width:850px;
	margin:auto;
	background-color:#181818;
}
.nomargin
{
	margin:0px;
}

#en_tete
{
	width:100%;
	height:100px;
	background-color:#383838;
	background-repeat:no-repeat;
	margin:auto;
}

.Kickass
{
	background-color:#eae5e5;
	color:#FFFFFF;
}
.Chatan
{
	background-color:#eae5e5;
	color:#FFFFFF;
}
h1
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:28px;
	margin-bottom: 10px;
	padding:15px;
	padding-left:20px;
	margin:auto;
	color:#f6f6f6;
	margin-top:-10px;
	max-width:850px;
	min-width:850px;
}
h5
{
    
	color:#f6f6f6;
	
}
#bt_linkedin
{

float:right;
margin-top:5px;
margin-right:25px;
}
#bt_linkedinblack
{

float:right;
margin-top:5px;
margin-right:25px;
}

#bt_linkedin img
{
	margin-top:0px;
	width:25px;
}

#contenue
{
	display:block;
	margin:auto;
	margin-bottom:0px;
	width:100%;
	padding-bottom:100px;
}

#menu
{
	margin:-100;
	margin-top: -15px;
	list-style-type:none;
	max-width:1500px;
	min-width:850px;
	height:200px;
	background-repeat:repeat-x;
	display:block;
	padding:-50px;
	padding-bottom:20px;
}

#menu li
{
	display:block;
	float:left;
	height:100%;
	margin-top:25px;
	padding-right:25px;
	padding-left:10px;
}

#menu li a
{
	font-size:1.5em;
	display:block;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	text-align:center;
	height:100%;
	padding-top:10px;
}

#menu li a#bt5:link, #menu li a#bt5:visited
{
	background-image:url(../images/bt_repeat.png);
	background-repeat:repeat-x;
	border-right:dotted 1px #999;
	color:#ccc;
}

#menu li a#bt6:link, #menu li a#bt6:visited
{
	background-image:url(../images/bt_repeat.png);
	background-repeat:repeat-x;
	color:#ccc;
}

#menu li a#bt1:hover, #menu li a#bt1:active
{
	color:#;
}

#menu li a#bt2:hover, #menu li a#bt2:active
{
	color:#FFF;
}

#menu li a#bt3:hover, #menu li a#bt3:active
{
	color:#FFF;
}

#menu li a#bt4:hover, #menu li a#bt4:active
{
	color:#FFF;
}

#menu li a#bt5:hover, #menu li a#b5:active
{
	color:#FFF;
}

#menu li a#bt6:hover, #menu li a#bt6:active
{
	color:#FFF;
}

#pied_de_page
{
	background-color:#383838;
	padding:10px;
	display:block;
	width:100%;
	height:20px;
	position:fixed;
	bottom:0px;
	left:0px;
}

#text_pdp
{
	max-width:850px;
	min-width:850px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#fff;
	margin:auto;
	margin-top:-10px;
}

#gauche
{
	float:left;
	width: 35%;
	display:block;
}
#droite
{
	float:right;
	width: 35%;
	display:block;
	clear:right;
}
#mid
{
	float:center;
	width: 35%;
	display:block;

}
#gauchep, #droitep, #midp
{
	position: absolute;
	width: 25%;
	height: 100%;
	top: 620px;
	left: 107px;
}

#gauchep
{
	left: 623px;
}
#droitep
{
	right: 624px;
}
#midp
{
margin-left:25%;
}

#title_bar
{
	width:100%;
	background-color:#49474a;
	margin:auto;

}
	
h2
{
    	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-bottom: px;
	margin:auto;
	color:#f6f6f6;
	margin-top:-40px;
	min-width:850px;
	text-align:center;

	
}

.Mantra
{
	margin-left:-15px;
	margin-bottom:-25px;
}

.projetImge
{
	width:95%;
	margin-left:-50px;
	margin-top:-20px
}
h3
{
    	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	width:106%;
	margin-left:-0%;
	background-color:#f6f6f6;
	padding:5px;
}


h4
{
   	 font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	text-decoration:underline;
	padding:5px;
	color:#f6f6f6;
}

#logoLittlePony
{
	width:200px;
	height:180px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	text-align:justify;
}
	
.textright
{
	float:right;
	width:30%;
	font-family:Arial, Helvetica, sans-serif;
	text-align:justify;
	color:#f6f6f6;
}
.textmid
{
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	color:#f6f6f6;
}
.textjustified
{
	font-family:Arial, Helvetica, sans-serif;
	text-align:justify;
	color:#f6f6f6;
}
.textrightmid
{
	float:right;
	width:45%;
	font-family:Arial, Helvetica, sans-serif;
	text-align:justify;
	color:#f6f6f6;
}
.textrightLarge
{
	float:right;
	width:65%;
    font-family:Arial, Helvetica, sans-serif;
	text-align:justify;
	color:#f6f6f6;
}

.textleftLarge
{
	float:left;
	width:60%;
    	font-family:Arial, Helvetica, sans-serif;
	text-align:justify;
	color:#f6f6f6;
}

.textcentre
{
	float:center;
	width:60%;
    	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	color:#f6f6f6;
}

.textleft
{
	float:left;
	width:30%;
	margin-right:25px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:justify;
	color:#f6f6f6;
}

.textleftmid
{
	float:left;
	width:45%;
	margin-right:25px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:justify;
	color:#f6f6f6;
}
.textmid
{
	width:95%;
	margin-right:150px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	color:#f6f6f6;
}
.imgGauche
	{
	float:left;
	width:100%;
}
.vidGauche
	{
	float:left;
}

.imgDroite
	{
	float:right;
	text-align:right;
	margin-top:15px;
}
.section
{
	padding-bottom:25px;
	display:block;
	clear:both;
	height:auto;
}

.section-img-projet
{
	margin:0 15% 0 2%;
	padding:0 0 20px 0;
	display:block;
	float:left;
	height:auto;
	width:40%;
}

.section-img-projet-colonne-droite
{
	margin:0 2% 0 0;
	padding:0 0 20px 0;
	display:block;
	float:left;
	height:auto;
	width:40%;
}

.section-img-projet h3, .section-img-projet-colonne-droite h3
{
	margin: 0 0 10px 0;
	padding:0;
	width:100%;
	background:none;
	color:#FFF;
	text-align:center;
}

.projetImg
{
	width:150px;
	margin:0px 0px 10px 10px;
	border: 4px solid #FFF;
}

.clear
{
	clear:both;
}
ul#gauche
{
	clear:left;
}

.gauche
{
	float:left;
	width:30%;
	display:block;
	
}
.droite
{
	float:right;
	width:49%;
	display:block;
	
}
